###############################################################################
# RABBITMQ SETTINGS
###############################################################################

CLUSTER_HOST_ID = '{{ cluster_host }}'
