[unix_http_server]
chown = awx:awx

[supervisord]
umask = 022
minfds = 4096

[program:memcached]
command = /usr/bin/memcached -p 11211 -u memcached -m 64 -c 1024 -s /var/run/memcached/memcached.sock -a 0660
autostart = true
autorestart = true
stopwaitsecs = 5
priority = 3
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:rabbitmq]
command = /usr/sbin/rabbitmq-server
autostart = true
autorestart = true
stopwaitsecs = 5
priority = 4
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:nginx]
command = nginx -g "daemon off;"
autostart = true
autorestart = true
stopwaitsecs = 5
priority = 6
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:awx-dispatcher]
command = awx-manage run_dispatcher
directory = {{ supervisor_awx_home }}
environment = HOME="{{ awx_install_home }}",USER="{{ aw_user }}"
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:awx-callback-receiver]
command = /usr/bin/awx-manage run_callback_receiver
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:awx-channels-worker]
command = /usr/bin/awx-manage runworker --only-channels websocket.*
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:awx-uwsgi]
command = {{ uwsgi_bash}} '{{ supervisor_awx_home }}/venv/awx/bin/uwsgi -s /var/run/tower/uwsgi.sock --module=awx.wsgi:application --vacuum --processes=5 --harakiri=120 --no-orphans --master --max-requests=1000 --lazy-apps -b 32768 --stats /var/lib/awx/uwsgi.stats --chmod-socket=660'
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 15
stopsignal = INT
stopasgroup = true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:awx-daphne]
command = {{ supervisor_awx_home }}/venv/awx/bin/daphne -u /var/run/tower/daphne.sock awx.asgi:channel_layer
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[group:tower-processes]
programs=awx-dispatcher,awx-callback-receiver,awx-channels-worker,awx-uwsgi,awx-daphne
priority=5

[eventlistener:exit-event-listener]
command=/usr/bin/failure-event-handler
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
buffer_size = 50
events=PROCESS_STATE
priority=0
